<div class="row my-3 px-0">
   <div class="col-10 px-0">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">{{ c.author }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ c.created_at}}</h6>
            <p class="card-text">{{ c.content }}</p>
         </div>
      </div>
   </div>
   {{#if (isMyComment c.user_id u)}}
   <div class="col-2">
      <button class="btn btn-danger delete-btn">
         Delete
      </button>
   </div>
   {{/if}}
</div>