<a class="text-dark" href="/posts/{{post.id}}" style="text-decoration:none">
   <div class="card my-4 post-body">
      <div class="card-body post-body">
         <h4 class="card-title post-title">{{post.title}}</h4>
         <p class="card-text post-author">{{post.author}}</p>
         <p class="card-text text-muted">{{post.date}}</p>
      </div>
   </div>
</a>