<div class="page-content bg-light">
   <h1 class="display-1 d-block mx-auto my-5 w-75">What's new?</h1>
   <div class="post-container w-75 mx-auto">
      <a class="text-dark" href="#" style="text-decoration:none">
         <div class="card my-4 post-body">
            <div class="card-body post-body">
               <h4 class="card-title post-title">Occaecat fugiat dolor non id id aute labore exercitation irure.</h4>
               <p class="card-text post-author">Jacob Meyers</p>
               <p class="card-text text-muted">Jan 30, 2023</p>
            </div>
         </div>
      </a>
      <a class="text-dark" href="#" style="text-decoration:none">
         <div class="card my-4 post-body">
            <div class="card-body post-body">
               <h4 class="card-title post-title">Occaecat veniam aute cupidatat ipsum pariatur voluptate mollit laborum
                  officia elit qui.</h4>
               <p class="card-text post-author">Jacob Meyers</p>
               <p class="card-text text-muted">Jan 30, 2023</p>
            </div>
         </div>
      </a>
      <a class="text-dark" href="#" style="text-decoration:none">
         <div class="card my-4 post-body">
            <div class="card-body post-body">
               <h4 class="card-title post-title">Anim pariatur ex sit mollit irure fugiat velit.</h4>
               <p class="card-text post-author">Jacob Meyers</p>
               <p class="card-text text-muted">Jan 30, 2023</p>
            </div>
         </div>
      </a>
   </div>
</div>