<a class="text-dark" href="/posts/{{arg.id}}" style="text-decoration:none">
   <div class="card my-4 post-body">
      <div class="card-body post-body">
         <h4 class="card-title post-title">{{arg.title}}</h4>
         <p class="card-text post-author">{{arg.author}}</p>
         <p class="card-text text-muted">{{arg.updated_at}}</p>
      </div>
   </div>
</a>