<div class="page-content bg-light">
   <h1 class="display-1 d-block mx-auto my-5 w-75">What's new?</h1>
   <div class="post-container w-75 mx-auto">
      {{#each posts as |post|}}
      {{>home_post_preview post=post}}
      {{/each}}
   </div>
</div>