<div class="page-content bg-light">
   <h1 class="display-1 w-100 text-center my-5">Welcome!</h1>
   <div class="login-grid-container w-50 mx-auto my-5">
      <div class="row">
         <div class="col-5">
            <div class="card login-card">
               <div class="card-body">
                  <form id="login-form">
                     <h3 class="card-title w-100 text-center">Log in</h3>
                     <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username-login">
                     </div>
                     <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password-login">
                     </div>
                     <button class="btn btn-primary" style="width: 100px; float: right" type="submit">Login</button>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-2">
            <h2 class="display-6 text-center mt-5">or</h2>
         </div>
         <div class="col-5">
            <div class="card signup-card">
               <div class="card-body">
                  <form id="signup-form">
                     <h3 class="card-title w-100 text-center">Sign up</h3>
                     <div class="mb-3">
                        <label for="first-name" class="form-label">First name</label>
                        <input type="text" class="form-control" name="first-name" id="first-name-signup"
                           placeholder="A-Z, a-z, -">
                     </div>
                     <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username-signup"
                           placeholder="A-Z, a-z, 0-9, _ and -">
                     </div>
                     <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password-signup">
                     </div>
                     <div class="mb-3">
                        <label for="c-password" class="form-label">Confirm password</label>
                        <input type="password" class="form-control" name="c-password" id="c-password-signup">
                     </div>
                     <button class="btn btn-primary" style="width: 150px; float: right" type="submit">Create
                        account</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="../public/assets/scripts/login.js"