html {
   /* background-image: url("../images/bg-image-3.jpg"); */
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* Full height */
   min-height: 100vh;
}

body {
   background-color: transparent;
   padding: 0px;
   height: 100vh;
   overflow: overlay;
}

.page-content {
   width: 70%;
   height: 100%;
   min-height: 100vh;
   margin: 0 auto;
   padding-top: 80px;
   padding-bottom: 150px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar {
   position: fixed;
   width: 100%;
   top: 0;
   /* make sure no content scrolls over nav */
   z-index: 99;
}

.card .post-title {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-right: 40px;
}

.post-content {
   white-space: pre-wrap;
   line-height: 2.2rem;
   font-size: 1.2rem;
}

.author {
   text-decoration: none;
}

.back-to-top {
   width: 150px;
}

.image-selection li {
   display: inline;
}

.image-selection li img {
   height: 200px;
   width: auto;
   transition: 0.1s linear;
   position: relative;
   border-width: 2px !important;
}

.image-selection li img:hover {
   transition: 0.1s linear;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 1px 2px 0px, rgba(14, 30, 37, 0.32) 0px 1px 8px 0px;
}

.image-selection li img.selected {
   box-shadow: rgba(31, 88, 38, 0.12) 0px 1px 2px 0px, rgba(38, 108, 38, 0.32) 0px 1px 8px 0px;
   border-color: rgba(0, 196, 0)
}

@media screen and (max-width: 575px) {
   .page-content {
      width: 90%;
   }
}

/* source: https://dev.to/jonosellier/easy-overlay-scrollbars-variable-width-1mbh */
*::-webkit-scrollbar {
   display: block;
   width: 16px;
   z-index: 98;
}

*::-webkit-scrollbar-button {
   display: none;
}

*::-webkit-scrollbar-track {
   /* roundabout way of making sure scrollbar stays under navbar */
   margin-top: 60px;
   background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
   background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
   background-color: #00000000;
   border: 5px solid transparent;
   border-radius: 24px;
   box-shadow: 4px 0px 0px 4px #00000040 inset;
}

*::-webkit-scrollbar-thumb:hover {
   background-color: #00000040;
   border: 0px solid transparent;
   box-shadow: none;
}

/**/